#edit-form {
    border: 1px solid #c0c0c0;
    padding: 0 5% 5% 5%;
    -webkit-border-radius: 2%;
    -moz-border-radius: 2%;
    border-radius: 2%;
}

button {
    width: 100%;
}

@media only screen and (min-width: 1280px)  {

    #edit-form {
        margin-left: 25%;
    }

}

#buttons-upload-file {
    float: right;
    margin-left: 40px;
    margin-top: 45px;
}